<h2>Movies</h2>

<h3>Add Movie (Admin)</h3>

<input placeholder="Title" [(ngModel)]="newTitle">

<input type="datetime-local" [(ngModel)]="newShowTime">

<input type="number" placeholder="Total Seats" [(ngModel)]="newTotalSeats">

<button (click)="addMovie()">Add Movie</button>

<hr>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Show Time</th>
    <th>Available Seats</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let movie of movies">
    <td>{{ movie.title }}</td>
    <td>{{ movie.showTime }}</td>
    <td>{{ movie.availableSeats }}</td>

    <td>
      <button (click)="bookSeat(movie.id)">Book Seat</button>
      <button (click)="deleteMovie(movie.id)">Delete</button>
    </td>
  </tr>
</table>
